body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

 h1{
 	padding-bottom: 12px;
 }
input{

	border-radius: 7px;
}


p.password-errors {
  color: red;
}